jboss-eap-6.4/standalone/data/wsdl/epp.war/ProcessoEndpointSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gdprev.pmc.cuiaba.mt.gov.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ProcessoEndpointSoapService" targetNamespace="http://gdprev.pmc.cuiaba.mt.gov.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://gdprev.pmc.cuiaba.mt.gov.br/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://gdprev.pmc.cuiaba.mt.gov.br/">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
  <xs:complexType name="documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:base64Binary" xmime:expectedContentTypes="application/pdf"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processos">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="processo" type="tns:processo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processo">
    <xs:sequence>
      <xs:element name="numero" type="xs:string"/>
      <xs:element name="natureza" type="xs:string"/>
      <xs:element name="categoria" type="xs:string"/>
      <xs:element name="tipo" type="xs:string"/>
      <xs:element name="situacao" type="xs:string"/>
      <xs:element minOccurs="0" name="interessados">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="interessado" type="tns:interessado"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataCriacao" type="xs:string"/>
      <xs:element name="dataEncerramento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interessado">
    <xs:sequence>
      <xs:element name="cpf" type="xs:string"/>
      <xs:element name="matricula" type="xs:string"/>
      <xs:element name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usuario" nillable="true" type="xs:string"/>
  <xs:element name="senha" nillable="true" type="xs:string"/>
  <xs:element name="WebServiceException" type="tns:WebServiceException"/>
  <xs:complexType name="WebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="statusCode" type="xs:int"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="recuperarProcessoEmDocumentoResponse">
    <wsdl:part name="Documento" type="tns:documento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarProcessosResponse">
    <wsdl:part name="Processos" type="tns:processos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recuperarProcessoEmDocumento">
    <wsdl:part element="tns:usuario" name="usuario">
    </wsdl:part>
    <wsdl:part element="tns:senha" name="senha">
    </wsdl:part>
    <wsdl:part name="numeroDoProcesso" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServiceException">
    <wsdl:part element="tns:WebServiceException" name="WebServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarProcessos">
    <wsdl:part element="tns:usuario" name="usuario">
    </wsdl:part>
    <wsdl:part element="tns:senha" name="senha">
    </wsdl:part>
    <wsdl:part name="dataAlteracao" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessoEndpoint">
    <wsdl:operation name="recuperarProcessoEmDocumento">
      <wsdl:input message="tns:recuperarProcessoEmDocumento" name="recuperarProcessoEmDocumento">
    </wsdl:input>
      <wsdl:output message="tns:recuperarProcessoEmDocumentoResponse" name="recuperarProcessoEmDocumentoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceException" name="WebServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarProcessos">
      <wsdl:input message="tns:consultarProcessos" name="consultarProcessos">
    </wsdl:input>
      <wsdl:output message="tns:consultarProcessosResponse" name="consultarProcessosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceException" name="WebServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessoEndpointSoapServiceSoapBinding" type="tns:ProcessoEndpoint">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recuperarProcessoEmDocumento">
      <soap:operation soapAction="RecuperarProcessoEmDocumento" style="rpc"/>
      <wsdl:input name="recuperarProcessoEmDocumento">
        <soap:header message="tns:recuperarProcessoEmDocumento" part="usuario" use="literal">
        </soap:header>
        <soap:header message="tns:recuperarProcessoEmDocumento" part="senha" use="literal">
        </soap:header>
        <soap:body namespace="http://gdprev.pmc.cuiaba.mt.gov.br/" parts="numeroDoProcesso" use="literal"/>
      </wsdl:input>
      <wsdl:output name="recuperarProcessoEmDocumentoResponse">
        <soap:body namespace="http://gdprev.pmc.cuiaba.mt.gov.br/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarProcessos">
      <soap:operation soapAction="ConsultarProcessos" style="rpc"/>
      <wsdl:input name="consultarProcessos">
        <soap:header message="tns:consultarProcessos" part="usuario" use="literal">
        </soap:header>
        <soap:header message="tns:consultarProcessos" part="senha" use="literal">
        </soap:header>
        <soap:body namespace="http://gdprev.pmc.cuiaba.mt.gov.br/" parts="dataAlteracao" use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarProcessosResponse">
        <soap:body namespace="http://gdprev.pmc.cuiaba.mt.gov.br/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessoEndpointSoapService">
    <wsdl:port binding="tns:ProcessoEndpointSoapServiceSoapBinding" name="ProcessoEndpointPort">
      <soap:address location="http://localhost:8080/epp/ProcessoEndpointSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>